<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: fragment_head(pageTitle = 'Users')">
<body>
<div th:replace="fragments :: fragment_navbar"/>
<div class="container text-center" style="width: 80%">
    <th:block th:each="order : ${orders}">
        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title" th:text="${order.room.hotel.name}"/>
                <p class="card-text" th:text="${order.room.hotel.country}"/>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>