<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: fragment_head(pageTitle = 'Users')">
</head>
<body>
<div th:replace="fragments :: fragment_navbar"/>
<div class="container text-center">
    <div>
        <h1>List of Users</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th sec:authorize="hasAuthority('ADMIN')" colspan="2" >Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td>
                    <a th:href="@{|/user/${user.getId()}|}" th:text="${user.getEmail()}"/>
                </td>
                <td th:text="${user.getPhone()}"/>
                <td th:text="${user.getFirstName()}"/>
                <td th:text="${user.getLastName()}"/>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-info" th:href="@{|/user/${user.id}/update|}">Edit</a>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-danger"  th:href="@{|/user/${user.id}/delete|}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>