<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: fragment_head(pageTitle = 'Edit Hotel')">
<body>
    <div th:replace="fragments :: fragment_navbar"/>
    <div class="container text-center" style="width: 80%">
        <form th:action="@{/hotel/*{id}/update}" th:object="${hotel}" method="post">
            <div>
                <h1>Add a new Hotel</h1>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Name:</label>
                <div class="col-8">
                    <input type="text" class="form-control" th:field="*{name}" maxlength="10px"/>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Country:</label>
                <div class="col-8">
                    <input type="text" class="form-control"  th:field="*{country}" maxlength="10px"/>
                    <small th:if="${#fields.hasErrors('country')}" th:errors="*{country}"/>
                </div>
            </div>

                <br>

            <input type="hidden" name="id" th:value="*{id}">

            <input type="submit" class="btn btn-primary" value="Update"/>
            <input type="reset" class="btn btn-primary" value="Clear"/>
        </form>
    </div>
</body>
</html>