<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: fragment_head(pageTitle = 'Add Room')">
<body>
<div th:replace="fragments :: fragment_navbar"/>
<div class="container text-center" style="width: 80%">

    <div>
        <h1>Add Room</h1>
    </div>

    <div class="alert alert-danger" role="alert" th:text="${message}" th:if="${message}"></div>


    <form th:action="@{|/room/add/${hotel_id}|}" th:object="${room}" method="post">
    <div>
        <h1>Create Room</h1>
    </div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Number: </label>
        <div class="col-8">
            <input type="number" th:field="*{number}" class="form-control" require maxlength="2"/>
            <small th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Capacity: </label>
        <div class="col-8">
            <input type="number" th:field="*{capacity}" class="form-control" required maxlength="2"/>
            <small th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"/>
        </div>
    </div>
    <br>


    <input class="btn btn-primary" type="submit" value="Add"/>
    <input class="btn btn-primary" type="reset" value="Clear"/>
</form>
</div>
</body>
</html>