<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
<table>
    <tr>
        <th>Number</th>
        <th>Capacity</th>
        <th>Hotel</th>
        <th>Book</th>
        <th colspan="2">Operations</th>
    </tr>
    <tr th:each="room, iStat: ${rooms}">
        <td th:text="${room.number}"/>
        <td th:text="${room.capacity}"/>
        <td th:text="${room.hotel.name}"/>
        <td>
            <a th:href="@{|/order/book/${room.id}|}">Book</a>
        </td>
        <td>
            <a th:href="@{|/hotel/${hotel.id}/update|}">Edit</a>
        </td>
        <td>
            <a th:href="@{|/hotel/${hotel.id}/delete|}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>