<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: fragment_head(pageTitle = 'Rooms')">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="fragments :: fragment_navbar"/>
<div class="container text-center" style="width: 80%">
    <br>

    <div>
        <h1>Rooms</h1>
    </div>

    <div class="row d-flex justify-content-center">
        <th:block th:each="room : ${rooms}">
            <div class="card" style="width: 18rem; margin: 5px">
                <div class="card-body">
                    <h5 class="card-title" th:text="${room.number}"/>
                </div>
                <ul class="list-group list-group-flush">
                    <small>Capacity:</small>
                    <li class="list-group-item" th:text="${room.capacity}"/>
                    <li class="list-group-item"><a class="btn btn-primary" th:href="@{|/order/book/${room.id}|}">Book</a></li>
                    <li class="list-group-item" sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info" th:href="@{|/room/${room.id}/update|}">Edit</a></li>
                    <li class="list-group-item" sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{|/room/${room.id}/delete|}">Delete</a></li>
                </ul>
            </div>
        </th:block>
        <br><br>
    </div>
    <a class="btn btn-info" sec:authorize="hasAuthority('ADMIN')" th:href="@{|/room/add/${hotel_id}|}">Add</a>
</div>
</body>
</html>