<!DOCTYPE html>
<html lang="en">
<html xmlns:td="http://www.tdymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<div th:object="${order}">
    <table>
        <tr>
            <td>Id</td>
            <td>Check in date</td>
            <td>Check out date</td>
            <td>Room</td>
        </tr>
        <tr>
            <td th:text="${order.id}"/>
            <td th:text="${order.startTime}"/>
            <td th:text="${order.endTime}"/>
            <td th:text="${order.room.number}"/>
        </tr>
    </table>
    <button th:href="@{|/${order.id}/update|}">Edit</button>
    <button th:href="@{|/${order.id}/delete|}">Delete</button>
</div>
</body>
</html>