<!DOCTYPE html>
<html lang="en">
<html xmlns:td="http://www.tdymeleaf.org">
<head th:replace="fragments :: fragment_head(pageTitle = 'Your Order')">
<body>
<div th:replace="fragments :: fragment_navbar"/>
<div class="container text-center" style="width: 350px">
    <div>
        <h1>Your order</h1>
    </div>
    <div th:object="${order}">
        <table class="table table-hover">
            <tr>
                <th scope="row">Id</th>
                <td th:text="${order.id}"/>
            </tr>
            <tr>
                <th scope="row">Check in date</th>
                <td th:text="${order.startTime}"/>
            </tr>
            <tr>
                <th scope="row">Check out date</th>
                <td th:text="${order.endTime}"/>
            </tr>
            <tr>
                <th scope="row">Hotel</th>
                <td th:text="${order.room.hotel.name}" />
            </tr>
            <tr>
                <th scope="row">Room</th>
                <td th:text="${order.room.number}"/>
            </tr>
        </table>
        <a class="btn btn-info" th:href="@{|/order/${order.id}/update|}">Edit</a>
        <a class="btn btn-danger" th:href="@{|/order/${order.id}/delete|}">Delete</a>
    </div>
</div>
</body>
</html>