<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Order</title>
</head>
<body>
<form th:action="@{|/${order.id}/update|}" th:object="${order}" method="post">
    Check in date:
    <input type="date" th:field="*{startTime}"/>
    <small th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"/>

    Check out date:
    <input type="date" th:field="*{endTime}"/>
    <small th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"/>

    <input type="hidden" name="id" th:value="*{id}">
    <input type="hidden" name="room" th:value="*{room}">
    <input type="hidden" name="user" th:value="*{user}">

    <br>

    <input type="submit" value="Edit"/>
    <input type="reset" value="Clear"/>
</form>
</body>
</html>