<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Hotels</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="hotel : ${hotels}">
                <td th:text="${hotel.name}"/>
                <td th:text="${hotel.country}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>